.InsumosHome {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 100px;
}

.tittle {
  color: #356e48;
  font-size: 2.5rem;
  font-weight: 700;
  margin: 2rem 0;
}

.ContainerLogosInsumos {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  border-radius: 10px;
  padding: 1rem;
}

.LogosInsumos {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 110px;
  height: 110px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(37, 37, 37, 0.247);
  transition: 0.3s;
}

.LogosInsumos:hover {
  transform: translateY(-7px);
  box-shadow: 0 2px 4px rgba(30, 119, 70, 0.521);
}

.Logos {
  width: 80px;
  height: auto;
}

.BotonInsumos {
  margin: 1rem;
}

.VerTodos {
  background-color: #356e48;
  color: white;
  padding: 0.7rem 1.5rem 0.7rem 1.5rem;
  border-radius: 20px;
  font-size: 1rem;
  font-weight: 600;
  border-style: none;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

.VerTodos:hover {
  background-color: white;
  color: #356e48;
  transform: translateY(7px);

  box-shadow: 0 2px 4px rgba(37, 37, 37, 0.247);
}

@media (min-width: 1000px) {
  .ContainerLogosInsumos {
    width: 70%;
    padding: 2rem;
    margin: 2rem 0;
  }

  .LogosInsumos {
    width: 150px;
    height: 150px;
  }

  .Logos {
    width: 120px;
    height: auto;
  }

  .tittle {
    font-size: 2.5rem;
  }
}
